@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #FF5B00;
    --color-text-primary: #fff;
    --color-bg-primary: #181C22;
    --color-bg-highlight: #22272E;
    --color-error: #E53E3E;
    --color-success: #3BCD52;
    --color-button-secondary-stroke: linear-gradient(90deg, #22272E 54%, #FFFFFF 54%);
    --color-button-secondary-fill: linear-gradient(90deg, #FFF 0%, #22272E 100%);
  }

  body {
    @apply bg-bgPrimary text-textPrimary text-base;
  }

  h1 {
    @apply text-[3.75rem] font-bold leading-[60%] md:text-[4.5rem] md:leading-[100%];
  }

  h2 {
    @apply text-[3rem] font-bold md:text-[3.5rem];
  }

  h3 {
    @apply text-[1.75rem] font-normal md:text-[2.25rem];
  }

  h4 {
    @apply text-[1.5rem] font-normal;
  }

  .clip-custom {
    clip-path: 
        polygon(0% 0%, 100% 0%, 0% 100%);
  }
}